{% extends 'base.html' %}
{% block title%}Editar Instalação{% endblock %} 
{% block content %}

<h2>Editar Instalação</h2>

<form method="POST" enctype="multipart/form-data">


    <label for="metragem_linha">Metragem Tubulação Frigorígena</label>
    <input type="number" step="0.1" name="metragem_linha" value="{{ instalacao.metragem_linha or ''}}" required>

    <label for="metragem_dreno">Metragem Dreno:</label>
    <input type="number" step="0.1" name="metragem_dreno" value="{{ instalacao.metragem_dreno or ''}}" required> 

    <label for="metragem_eletrica">Metragem Elétrica</label>
    <input type="number" step="0.1" name="metragem_eletrica" value="{{ instalacao.metragem_eletrica or ''}}" required> 
    
    <label>Checklist:</label><br>
    {% set checklist_padrao = ['Evaporadora instalada', 'Condensadora instalada', 'Elétrica finalizada', 'Testes realizados'] %}
    {% for item in checklist_padrao %}
        <input type="checkbox" name="itens" value="{{ item }}"
            {% for marcado in checklist %}
                {% if marcado.item == item %}checked{% endif %}
            {% endfor %}
        > {{ item }} <br>
    {% endfor %}

    <h3>Fotos Enviadas</h3>
    {% for foto in fotos %}
        <p><strong>{{ foto.tipo }}</strong></p>
        <img src="{{ url_for('static', filename='uploads/' ~ foto.caminho) }}" width="200"><br>
    {% endfor %}

    <h4>Enviar novas Fotos (Opcional)</h4>
    {% set tipos_foto = ['Etiqueta Evaporadora', 'Etiqueta Condensadora', 'Controle Remoto', 'Tubulação', 'Outras'] %}
    {% for tipo in tipos_foto %}
        <label>{{ tipo }}</label><br>
        <input type="file" name="fotos_{{ loop.index }}"><br>
        <input type="hidden" name="foto_tipo_{{ loop.index }}" value="{{ tipo }}"><br>
    {% endfor %}

    <label>Observações:</label><br><br> 
    <textarea name="observacoes" rows="4" cols="50">{{ instalacao.observacoes }}</textarea><br>
    <button type="submit">Salvar Alterações</button>
    
</form>
<br>
<br><a href="{{url_for('instalacoes.obras_instalador') }}">Voltar</a>
{% endblock %}
